{% extends 'base.html' %}

{% block contents %}

<div class="mt-6">
    <h5>{{ entry.title }}</h5>
    <h6>entry[Type]: {{ entry.entry_type }}</h6>
    <h6>entry[Date]: {{ entry.date_added|date:'M d, Y H:i' }}</h6>
    <h6>entry[Topics]: {{ topics|join:' | ' }}</h6>
    <p>{{ entry.text|linebreaks }}</p>
</div>
{#<p>Entries</p>#}
{#<ul>#}
{#{% for entry in entries %}#}
{#<li>#}
{#    <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>#}
{#    <p>{{ entry.text|linebreaks }}</p>#}
{#</li>#}

{#<div class="card">#}
{#  <h5 class="card-header">{{ entry.title}}</h5>#}
{#  <div class="card-body">#}
{#    <h5 class="card-title">{{ entry.date_added|date:'M d, Y H:i' }}</h5>#}
{#    <p class="card-text">{{ entry.text|linebreaks }}</p>#}
{#    <a href="{% url  %}" class="btn btn-primary">Read More</a>#}
{#  </div>#}
{#</div>#}

{#{% empty %}#}
{#<li>There are no entries for this topic...yet :)</li>#}
{#{% endfor %}#}
{#</ul>#}

{% endblock contents %}
