{% extends 'base.html' %}

{% block page_header %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>multiParadigmBiz</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
  </div>
</div>
{% endblock page_header %}

{% block contents %}

<h1 class="mb-5">About</h1>

<div>
<h4>::Topics::</h4>

<ul class="list-group">
{% for topic in topic_info %}
<a href="{% url 'mpb_blog:topic' topic.0 %}" class="nav-link">
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
    {{ topic.1 }}
    <span class="badge badge-primary badge-pill">{{ topic.2 }}</span>
  </li>
</a>
{% endfor %}
</ul>

{#{% for topic in topic_info %}#}
{#<div class="list-group">#}
{#  <a href="{% url 'mpb_blog:topic' topic.0 %}" class="list-group-item list-group-item-action active">{{ topic.1}}</a>#}
{#<span class="badge badge-primary badge-pill">{{ topic.2 }}</span>#}
{#</div>#}
{#{% endfor %}#}


</div>
{# todo - add the topics to this page #}

{% endblock contents %}
